/* PrismJS Tomorrow Theme (https://github.com/PrismJS/prism-themes/blob/master/themes/prism-tomorrow.css) */
code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: var(--font-mono, 'Fira Mono', 'Consolas', 'Monaco', monospace);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #2d2d2d;
  border-radius: 0.5em;
}

:not(pre) > code[class*='language-'] {
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background: #2d2d2d;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f2777a;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #92d192;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #67cdcc;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ffcc66;
}

.token.function,
.token.class-name {
  color: #6699cc;
}

.token.regex,
.token.important,
.token.variable {
  color: #e9c062;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
